.tituloAvisos {
    font-family: $font-title;
    color: $bg-azul;
    font-size: $em * 4;
    padding: ($px * 2) 0;
}

.contenedorAvisos {
    max-width: ($w-75 + 5%);
	width: ($w-100 - 10%);
    margin: ($m-10 + 5px) auto;
}

.tarjetaAvisos {
	background-color: $bg-blanco;
    border-color: $bg-rosa;
    border-style: solid;
    border-width: $b-10 - 7px;
	border-radius: ($b-10 + 5px);
	padding: ($p-10 * 2);
	display: $d-flex;
	align-items: $center;
	position: $pos-relativ;
	margin-bottom: ($m-10 * 5); 
}

.tarjetaAvisos__img {
	width: ($h-600 / 2);
	height: ($h-600 / 3) - 20px;
	margin-right: $m-10 * 3;
}

.tarjetaAvisos__titulo {
	font-size: $font-sizeMedium + .5em;
	margin-bottom: $m-10 * 2;
    font-family: $font-title;
    color: $bg-rosa;
}

.tarjetaAvisos__parrafo {
	line-height: ($px * 2) + 8;
	font-size: $rem;
    font-family: $font-text;
    color: $bg-azul;
}

.tarjetaAvisos__lista {
	font-family: $font-text;
	font-size: $rem;
}