.tituloContacto {
    font-family: $font-title;
    color: $bg-azul;
    font-size: $em * 4;
    padding: ($px * 2) 0;
}

.formularioContacto {
    background-color: $bg-blanco;
    width: $w-50;
    margin: ($m-10) auto; 
    padding: $px;
    border-color: $bg-rosa;
    border-style: solid;
    border-width: $b-10 - 7px;
}

.formularioContacto__titulo {
    color: $bg-rosa;
    font-family: $font-title;
    font-size: $em * 2;
    margin: $m-10;
}

.formularioContacto__leyenda {
    color: $bg-azul;
    font-family: $font-text;
    font-size: $px * 2;
    padding: $px 0;
}

.formularioContacto__texto--Raleway {
    font-family: $font-text;
}