@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@300&display=swap');

$font-title: 'Montserrat', sans-serif;

$font-text: 'Raleway', sans-serif;

$font-sizeSmall: 0.8em;
$font-sizeMedium: 1em;
$font-sizeBig: 2em;

$font-wBold: bold;