.tituloPlan {
    font-family: $font-title;
    color: $bg-azul;
    font-size: $em * 4;
    padding: ($px * 2) 0;
}

.tabla {
    border: ($px - 7) solid;
    width: $w-50 + 10%;
    margin: ($px * 3) auto;
    background-color: #2B7FC8;
}

.tabla__encabezado {
    font-family: $font-title;
    background-color: $bg-rosa;
    color: $bg-blanco;
    border: 1px solid $bg-negro;
    text-align: $center;
    padding: $px / 2;
}

th::selection{
    background: $bg-azul;
}

.tabla_contenido {
    font-family: $font-text;
    background-color: $bg-blanco;
    border: 1px solid;
    text-align: $center;
}

    .tabla_contenido--listas {
        list-style-type: $none;
        margin: auto;
        padding: $px / 2;
    }
