$bg-celeste: #ABD4E2;
$bg-rosa: #9F2062;
$bg-azul: #2B7FC8;
$bg-blanco: #f3f3f3;
$bg-negro: black;

$w-25: 25%;
$w-50: 50%;
$w-75: 75%;
$w-100: 100%;
$w-px: 100px;

$m-10: 10px;
$p-10: 10px;
$b-10: 10px;

$h-600: 600px;

$d-flex: flex;
$d-block: block;

$px: 10px;
$rem: 1rem;
$vh: 5vh;
$em: 1em;

$jus-s-e: space-evenly; 

$left: left;
$center: center;
$right: right;

$none: none;

$pos-relativ: relative;
$pos-absolute: absolute;
$pos-static: static;
$pos-sticky: sticky;

*{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
	line-height: 1;
    background-color: $bg-celeste;
}