nav{
    background-color: $bg-celeste;
    padding: 1em;
    display: $d-block;
    ul{
        list-style: $none;
        text-align: center;
        font-family: $font-text;
    }
    li{
        list-style-type: $none;
        display: inline-block;
        position: relative;
        ul{
            display: $none;
            position: $pos-absolute;
        }
    }
    li:hover{
        ul{
            display: $d-block;
        }
    }
    a{
        text-decoration: $none;
        color: $bg-rosa;
        padding: 8px;
        font-weight: $font-wBold;
        .active{
            text-decoration: underline;
        }
    }
    a:hover{
        background-color: rgba(243, 243, 243, 0.5);
    }
}

